*{
    font-family: 'Play', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

h3{
    font-size: 130%;
}

#tit {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 250%;
}